

<main id="main">
  <h1 id="title">Mahatma Gandhi</h1>
  <p>Mohandas Karamchand Gandhi </p>
  <figure id="img-div">
    <img
      id="image"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1lQmNViC3CPD-CjYuucetAqpubEWSmSuIbA&usqp=CAU"
      alt="Image of Mahatma Gandhi"
    />
    <figcaption id="img-caption">
     “Live as if you were to die tomorrow. Learn as if you were to live forever.”
    </figcaption>
  </figure>
  <section id="tribute-info">
    <h3 id="headline">Here's a time line of Mahatma Gandhi's life:</h3>
    <ul>
      <li><strong>Born and early life</strong> -Gandhi did not live long to enjoy the freedom of a free nation. On January 30, 1948, he was shot dead by Nathuram Godse, when he was on his way to an evening prayer meeting. Thus, it ended the life of the ‘Great Mahatma’, who lived and died for his motherland and millions.

Today Mahatma Gandhi is known as the ‘Father of the Nation’ because he laid the true foundation of independent India with his noble ideals and supreme sacrifice. He was fondly called ‘Bapu’. His birthday on 2nd October is celebrated as a National Holiday across the country and his image appears on the Indian currency notes. </li>
      <li>
        <strong>1874</strong> - Gandhi's father Karamchand left Porbandar for the smaller state of Rajkot
      </li>
      <li>
        <strong>Mahatma Gandhi as a Social reformer</strong> - Mohandas Karamchand Gandhi is also known as the ‘Father of the nation’. He used non-violent ways to fight the evils of the British rule and succeeded in gaining freedom from the Colonial rule. He focused on the socially degraded classes, poor people and the untouchable. He even renamed the untouchables as ‘Harijans’, which means ‘God’s children’. He believed in the ideology of doing your own work, from cleaning utensils to sweeping the place. He became the President of the Indian National Congress and called the party as a purely ‘Social reform organization’.

      </li>
      <li>
        <strong>Freedom Strugle</strong> - Mahatma Gandhi believed in the concept of ‘Ahimsa’, which means ‘non-violence’ and ‘Satyagraha’, which refers to peaceful protests. Mohandas was a prominent part of the freedom struggle, both in India and South Africa. He followed the ideology of truth, non-violence, tolerance, and social equality. These ideologies helped Indians in achieving freedom from British rule. He organized the Champaran Satyagraha, Non-Cooperation Movement, Civil-Disobedience Movement, etc.
      <li>
        <strong>Education</strong> -Gandhi enrolled at Samaldas College, Bhaunagar, in 1887 but left after one term. However, he was encouraged to go to London to study law and he left for London on 4 September 1888.
      </li>
      <li>
        <strong> June 1890</strong> -  Besides his law studies he passed the University of London matriculation examination.
      <li>
        <strong>Salt March ("Dandi March")</strong> - The Salt Satyagraha or Dandi March, was an act of nonviolent civil disobedience led by Mahatma Gandhi. The march lasted for 24 days from 12 March 1930 to 5 April 1930 in protest against the British salt monopoly.
      </li>
      
      <li>
        <strong>Youth</strong> - Gandhi was the youngest child of his father’s fourth wife. His father—Karamchand Gandhi, who was the dewan (chief minister) of Porbandar, the capital of a small principality in western India (in what is now Gujarat state) under British suzerainty—did not have much in the way of a formal education. He was, however, an able administrator who knew how to steer his way between the capricious princes, their long-suffering subjects, and the headstrong British political officers in power.
      </li>
      <li><strong>Death</strong> - Gandhi did not live long to enjoy the freedom of a free nation. On January 30, 1948, he was shot dead by Nathuram Godse, when he was on his way to an evening prayer meeting. Thus, it ended the life of the ‘Great Mahatma’, who lived and died for his motherland and millions.

Today Mahatma Gandhi is known as the ‘Father of the Nation’ because he laid the true foundation of independent India with his noble ideals and supreme sacrifice. He was fondly called ‘Bapu’. His birthday on 2nd October is celebrated as a National Holiday across the country and his image appears on the Indian currency notes. </li>
    </ul>
    
    <h3>
      If you want to read more about Mahatma Gandhi 
      on his...
      <a
        id="tribute-link"
        href="https://en.wikipedia.org/wiki/Mahatma_Gandhi"
        target="_blank"
        > wikipidea page</a>.
    </h3>
  </section>
</main>

